<div class="hero-main hero-alignment-{{ section.settings.hero_text_alignment }}">
  <div class="hero-container">
    <h1 class="hero-main-title">{{ section.settings.hero_title_text }}</h1>
    <p class="hero-main-copy">{{ section.settings.hero_copy_text }}</p>
    <a href="{{ section.settings.hero_cta_url }}" class="button hero-main-cta">{{ section.settings.hero_cta_text }}</a>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

  .hero-main {
    position: relative;
    background: url('{{ section.settings.hero_image_mobile | img_url: 'master' }}') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  @media only screen and (min-width: 665px) {
    .hero-main {
      position: relative;
      background: url('{{ section.settings.hero_image | img_url: 'master' }}') no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 500px;
    }
  }

</style>

{% schema %}
{
  "name": "Hero with text and button",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "hero_image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "color",
      "id": "cta_color",
      "label": "Color Picker",
      "default": "#000",
      "info": "Pick the color for your call to action button"
    },
    {
      "type": "select",
      "id": "hero_text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "group": "hero_text_alignment",
          "value": "left",
          "label": "Left"
        },
        {
          "group": "hero_text_alignment",
          "value": "right",
          "label": "Right"
        },
        {
          "group": "hero_text_alignment",
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "info": "text"
    },
    {
      "type": "text",
      "id": "hero_title_text",
      "label": "Title",
      "default": "Hero Title",
      "info": "text"
    },
    {
      "type": "textarea",
      "id": "hero_copy_text",
      "label": "Copy",
      "default": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione fugit nostrum assumenda et asperiores",
      "info": "Here we put the information for your copy"
    },
    {
      "type": "text",
      "id": "hero_cta_text",
      "label": "CTA Text",
      "default": "READ MORE",
      "info": "cta info"
    },
    {
      "type": "url",
      "id": "hero_cta_url",
      "label": "CTA URL",
      "info": "CTA Destination"
    }
  ]
}
{% endschema %}